.btn{
  outline: none;
  border: none;
  background: transparent;
  font-size: inherit;
  padding: 8px 15px;
}

.btn-solid{}
.btn-text{
  border-bottom: 2px solid transparent;
}
.active-tab-btn{
  border-bottom: 2px solid var(--primary);
  font-weight: bold;
}