@import "src/sass/--mixins.scss";

.form {
    max-width: 430px;
    padding: 40px;
    margin: 10px auto;
    border: 1px solid rgba(115, 115, 115, 0.13);
    border-radius: 20px;
    @include getDown(450px){
        padding: 20px;
    }

    &-image {
        max-width: 180px;
        margin: auto;

        img {
            width: 100%;
        }
    }

    &-para {
        text-align: center;
        color: var(--stone-900);
        margin-bottom: 30px;
    }

    &-tab-root {
        display: flex;
        justify-content: space-between;

    }

    &-tab-content {
        padding: 10px 60px;
        @include getDown(450px){
            padding: 10px 10px;
        }
    }
}


.input-box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .forgot-password-link {
        font-size: 14px;
        font-weight: 500;
    }

    .para-link {
        font-size: 12px;
        font-weight: 500;
        color: var(--stone-700);
    }
}

.toast-success-user-modal{
    padding: 40px;
    max-width: 400px;
    box-sizing: border-box;
    @include getDown(410px){
        padding: 30px;
        max-width: 90%
    }
}
.user-login-success{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 100px;
    }
}